{{!
   Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.

   WSO2 Inc. licenses this file to you under the Apache License,
   Version 2.0 (the "License"); you may not use this file except
   in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing,
   software distributed under the License is distributed on an
   "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   KIND, either express or implied.  See the License for the
   specific language governing permissions and limitations
   under the License.
}}
# Reference to the {{cellName}} cell image instance which can be used to get details about the APIs
# exposed by the the cell. This information is only relevant for calls within the cellery system.
#
# + alias - The alias of the instance of the cell image to be referred to
public type {{#handleTypeName}}{{cellName}}{{/handleTypeName}}Reference object {
    string cellName = "{{cellName}}";
    string cellVersion = "{{cellVersion}}";
    string alias = "";

    public function __init(string alias = "") {
        self.alias = alias;
    }

    # Get the Host name of the Cell Gateway. This hostname can be used when accessing the APIs.
    #
    # + return - The host name of the Cell Gateway
    public function getHost() returns string {
        if (self.alias.length() > 0) {
            return self.cellName + "--" + self.cellVersion + "--" + self.alias + "--gateway-service";
        }
        return self.cellName + "--" + self.cellVersion + "--gateway-service";
    }

{{#components}}
{{#apis}}
    # Get the complete URL of the "{{context}}" API exposed by the cell gateway.
    # This URL can be used when accessing the "{{context}}" API.
    #
    # + return - The URL of the "{{context}}" API
    public function get{{#handleApiName}}{{context}}{{/handleApiName}}ApiUrl() returns string {
{{#context}}
        return self.get{{#handleApiName}}{{context}}{{/handleApiName}}ApiProtocol() + "://" + self.getHost() + ":"
            + self.get{{#handleApiName}}{{context}}{{/handleApiName}}ApiPort()
            + self.get{{#handleApiName}}{{context}}{{/handleApiName}}ApiBasePath();
{{/context}}
{{^context}}
        return self.get{{#handleApiName}}{{context}}{{/handleApiName}}ApiProtocol() + "://" + self.getHost() + ":"
            + self.get{{#handleApiName}}{{context}}{{/handleApiName}}ApiPort();
{{/context}}
    }

    # Get the protocol of the "{{context}}" API exposed by the cell gateway.
    # This protocol can be used when accessing the "{{context}}" API.
    #
    # + return - The protocol of the "{{context}}" API
    public function get{{#handleApiName}}{{context}}{{/handleApiName}}ApiProtocol() returns string {
        return "{{cellGatewayProtocol}}";
    }

    # Get the port which exposes the "{{context}}" API exposed by the cell gateway.
    # This port can be used when accessing the "{{context}}" API.
    #
    # + return - The port which exposes the "{{context}}" API
    public function get{{#handleApiName}}{{context}}{{/handleApiName}}ApiPort() returns int {
        return {{cellGatewayPort}};
    }

{{#context}}
    # Get the base path of the "{{context}}" API exposed by the cell gateway.
    # This base path can be used when accessing the "{{context}}" API.
    #
    # + return - The base path of the "{{context}}" API
    public function get{{#handleApiName}}{{context}}{{/handleApiName}}ApiBasePath() returns string {
        return "{{context}}";
    }
{{/context}}
{{/apis}}
{{/components}}
};
