{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "transform-class-properties",
    [
      "transform-imports", {
        "@material-ui/core": {
          "transform": "@material-ui/core/${member}",
          "preventFullImport": true
        },
        "@material-ui/core/styles": {
          "transform": "@material-ui/core/styles/${member}",
          "preventFullImport": true
        },
        "@material-ui/icons": {
          "transform": "@material-ui/icons/${member}",
          "preventFullImport": true
        },
        "react-router-dom": {
          "transform": "react-router-dom/${member}",
          "preventFullImport": true
        }
      }
    ]
  ]
}
