<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Ballerina-Kubernetes-Test-Suite">
    <test name="ballerina-kubernetes-sample-tests" parallel="false">
        <groups>
            <dependencies>
                <group name="run" depends-on="build"/>
            </dependencies>
        </groups>
        <classes>
            <class name="org.cellery.components.test.scenarios.employee.StockTest"/>
            <class name="org.cellery.components.test.scenarios.employee.EmployeeTest"/>
            <class name="org.cellery.components.test.scenarios.employee.HRTest"/>
            <class name="org.cellery.components.test.scenarios.web.HelloWebTest"/>
            <class name="org.cellery.components.test.scenarios.petstore.PetStoreBeTest"/>
            <class name="org.cellery.components.test.scenarios.petstore.PetStoreFeTest"/>
            <class name="org.cellery.components.test.scenarios.petservice.PetServiceTest"/>
            <class name="org.cellery.components.test.scenarios.tlsweb.WebTlsTest"/>
            <class name="org.cellery.components.test.scenarios.dockersource.DockerSourceTest"/>
            <class name="org.cellery.components.test.scenarios.reviews.DatabaseTest"/>
            <class name="org.cellery.components.test.scenarios.reviews.CustomerProductTest"/>
            <class name="org.cellery.components.test.scenarios.reviews.ReviewsTest"/>
            <class name="org.cellery.components.test.scenarios.probes.ProbesTest"/>
            <class name="org.cellery.components.test.scenarios.resource.ResourceTest"/>
            <class name="org.cellery.components.test.scenarios.tcp.TCPTest"/>
            <class name="org.cellery.components.test.scenarios.composite.StockCompositeTest"/>
            <class name="org.cellery.components.test.scenarios.composite.EmployeeCompositeTest"/>
            <class name="org.cellery.components.test.scenarios.composite.HRCompositeTest"/>
            <class name="org.cellery.components.test.scenarios.composite.TCPTest"/>
        </classes>
    </test>
</suite>
